<!-- container

input : to add todo items with add icon

list view of todo items with edit and delete icons -->

{{todos | json}}

<mat-card>
    <mat-card-title>Add your todos </mat-card-title>

    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Clearable input</mat-label>
        <input matInput type="text" [(ngModel)]="todoTitle">
        <button *ngIf="todoTitle" matSuffix mat-icon-button aria-label="Clear"
                 (click)="todoTitle=''">
                <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>    

    <button mat-raised-button color="primary" (click)="createTodo()">
        <mat-icon>add</mat-icon>
    </button>
    <div *ngFor="let todo of todos; index as i">
        <mat-card-subtitle>{{todo.title}}</mat-card-subtitle>       
        <button mat-raised-button color="primary" (click)="removeTodo(i)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</mat-card>

