<!-- container

input : to add todo items with add icon

list view of todo items with edit and delete icons -->

{{todos | json}}

<mat-card>
    <mat-card-title>Todo Application</mat-card-title>

    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Clearable input</mat-label>

        <input matInput type="text" [(ngModel)]="todoTitle">

        <button *ngIf="todoTitle" matSuffix mat-icon-button 
        aria-label="Clear"
         (click)="todoTitle=''">
              <mat-icon>close</mat-icon>
        </button>

      </mat-form-field>      
      <button mat-raised-button color="primary">Add</button>
      

    <div *ngFor="let todo of todos">
        <mat-card-subtitle>{{todo.title}}</mat-card-subtitle>
        <mat-icon svgIcon="thumbs-up"></mat-icon>

        <button mat-raised-button color="primary">remove</button>
    </div>
      

    <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
    <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions> -->
</mat-card>
